# file types
*~
*.pyc
*.pyd
*.swp
*.swo
*.icloud

# dev system
.pytest_cache/
.hypothesis/
.venv/
dist/
htmlcov/
.python-version
.coverage
uv.lock

# misc
__pycache__/
.idea/
.vscode/
.DS_Store
.cache
