# folders
__pycache__/
.idea/
.vscode/
.pytest_cache/
.hypothesis/
venv/
build/
dist/
kagami.egg-info/
legacy/
htmlcov/

# file types
*.pyc
*.icloud
*.swp

# hidden files
.coverage
.DS_Store

# other files
